@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";

$backgroundColor: rgb(255, 255, 248);

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 32px;
$mainFont: Helvetica, sans-serif;
$headingFont: Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: bold;
$linkColor: #eaa700;
$linkColorHover: darken( $linkColor, 25% );
$selectionBackgroundColor: #ee4c2c;

$heading1Size: 1.8em;
$heading2Size: 1.4em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

@import "reveal-js/css/theme/template/theme";


code {
  background-color: #f2f2f2;
  padding: .1em;
  border-radius: .2em;
}

li {
  line-height: 1.5em;
}

.reveal pre {
  font-size: .65em;
}

.reveal p {
    margin: 10px 0;
    line-height: 1.2;
}

.reveal p.social-author {
  font-size: 0.8em;
  margin-bottom: 0;
}

.this-talk-link {
    font-size: 0.8em;
    display: block;
    font-style: italic;
    margin-top: 0.5em;
}

.hljs-ln-numbers {
    display: none;
}

.g {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0.5rem -0.5rem;
}

.g-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.g-1
.g-2,
.g-3,
.g-4 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.g-1 {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  flex: 1;
}

.g-2 {
  -ms-flex: 2 0 auto;
  -webkit-box-flex: 2;
  flex: 2;
}

.g-3 {
  -ms-flex: 3 0 auto;
  -webkit-box-flex: 3;
  flex: 3;
}

.g-4 {
  -ms-flex: 4 0 auto;
  -webkit-box-flex: 4;
  flex: 4;
}

.g-start {
   -ms-flex-pack: start;
   -webkit-box-pack: start;
   justify-content: flex-start;
   text-align: start;
 }

 .g-center {
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   text-align: center;
 }

 .g-end {
   -ms-flex-pack: end;
   -webkit-box-pack: end;
   justify-content: flex-end;
   text-align: end;
 }

 .g-top {
   -ms-flex-align: start;
   -webkit-box-align: start;
   align-items: flex-start;
 }

 .g-middle {
   -ms-flex-align: center;
   -webkit-box-align: center;
   align-items: center;
 }

 .g-bottom {
   -ms-flex-align: end;
   -webkit-box-align: end;
   align-items: flex-end;
 }

 .g-around {
   -ms-flex-pack: distribute;
   justify-content: space-around;
 }

 .g-between {
   -ms-flex-pack: justify;
   -webkit-box-pack: justify;
   justify-content: space-between;
 }


.icon {
    background-size: cover;
    display: inline-block;
    transform: scale(1.5);
    margin-top: 12px;
    margin-right: 32px;
    height: 24px;
    width: 25px;
}

.reveal blockquote{
  font-style:italic;
  color: #555555;
  border-left: 8px solid #eaa700;
  position: relative;
  background: #EDEDED;
}

.reveal blockquote p {
  margin-left: 1em;
}


.reveal blockquote cite{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
}

.reveal section img {
  margin: 0;
  border: none;
  box-shadow: none;
}

.reveal pre code {
  padding: 10px;
}

.reveal strong {
  color: #eaa700;
}

.g-success {
    background-color: rgba(40,167,69,0.25);
    border: 2px solid rgb(40,167,69);
    border-radius: 5px;
    width: 95%;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 0.5rem;
}

.g-alert {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    border-radius: 5px;
    width: 95%;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0 0.5rem;
}

span.hljs-comment {
  color: #eaa700;
}

.footer {
    color: #eee;
    background-color: #ee4c2c;
    position: relative;
    top: 92%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.75rem;
}